{% from 'MopaBootstrapBundle::flash.html.twig' import flash %}

{% extends "darevishDemoBundle::layout.html.twig" %}

{% block page_title %}Login{% endblock %}

{% block my_content %}
    {% if error %}
        {{ flash('danger', error.message, true, false) }}
    {% endif %}

    {% if last_username_cookie %}
        <div class="alert alert-info">Your last username during the past day was: <strong>{{ last_username_cookie }}</strong></div>
    {% endif %}

    <form method="post" action="{{ path('login_check') }}">
        <div  class="form-group">
            <label for="username" class="control-label col-lg-3 control-label required">Username</label>
            <div class="col-lg-9">
                <input type="text" id="username" name="_username" required="required" class="form-control" value="{{ last_username }}" />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class=" control-label col-lg-3 control-label required">Password</label>
            <div class="col-lg-9">
                <input type="password" id="password" name="_password" required="required" class=" form-control" />
            </div>
        </div>
        <div>
            <button type="submit" id="submit" name="_submit" class="btn btn btn-primary">Login</button>
        </div>
    </form>

{% endblock %}
